# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they will be
# requested for review when someone opens a pull request.
# To add more owners, list them after the existing ones on the same line.
*       @ReeseArch64
